[Desktop Entry]
Version=1.0
Type=Application
Name=Install windOS Zen
GenericName=System Installer
Comment=Install windOS Zen to this computer
Exec=calamares
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=true
