LABEL arch
TEXT HELP
Boot windOS Zen on BIOS.
It allows you to install windOS Zen or perform system maintenance.
ENDTEXT
MENU LABEL windOS Zen (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-zen
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-zen.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% console=ttyS0,115200 splash loglevel=3 rd.udev.log_priority=3 vt.global_cursor_default=0

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot windOS Zen on BIOS with the speakup screen reader.
ENDTEXT
MENU LABEL windOS Zen (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-zen
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-zen.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% accessibility=on console=ttyS0,115200 splash loglevel=3 rd.udev.log_priority=3 vt.global_cursor_default=0
